.heroBox {
  width: 90%;
  height: 150px;
  margin: auto;
  margin-top: 15px;
  border-radius: 2px;
  border: 1px solid #00fcff;
  color: #FFF;
}

.center-button {
  display: block;
  width: 60px;
  margin: 0 auto;
}

.hero {
  background-color: #4388ff;
}

.villain {
  background-color: #8b0000;
}

.filter-toggle {
  display: flex;
  justify-content: center;
}